html, body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: monospace;
    color: #fff;
}
div, canvas {
    display: block;
    box-sizing: border-box;
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.gamewrap {
    position: relative;
    width: calc(160px * 3);
}
.gamewrap:before {
    pointer-events: none;
    content: attr(data-loading);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
    white-space: pre-wrap;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    text-shadow: #000 3px 3px;
    z-index: 4;
}
#game {
    position: relative;
    width: 100%;
    aspect-ratio: 10/9;
    background-color: #2f351b;
    image-rendering: pixelated;
    transition-duration: 0.3s;
    transition-property: opacity;
    cursor: pointer;
    z-index: 2;
    outline: 2px solid #0005;
}
#game:not(.ready) {
    cursor: wait;
}
.gamewrap.loading:before {
    opacity: 1;
}
.application.gbcolors .gamewrap:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: #2f351b;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 10%;
    /* display: none; */
    mix-blend-mode: color-burn;
}
.application.gbcolors canvas#game {
    filter: sepia(26%) saturate(80%) contrast(110%);
}
.debuginfo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    background: #111;
}
.debuginfo.hidden {
    display: none;
}
.debuginfo-group {
    padding: 16px;
}