html, body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: monospace;
    color: #fff;
}
div, canvas {
    display: block;
    box-sizing: border-box;
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.gamewrap {
    position: relative;
    width: calc(160px * 3);
}
.gamewrap:before {
    pointer-events: none;
    content: attr(data-loading);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
    white-space: pre-wrap;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    text-shadow: #000 3px 3px;
    z-index: 4;
}
#game {
    position: relative;
    width: 100%;
    aspect-ratio: 10/9;
    background-color: #2f351b;
    image-rendering: pixelated;
    transition-duration: 0.3s;
    transition-property: opacity;
    cursor: pointer;
    z-index: 2;
    outline: 2px solid #0005;
}
#game:not(.ready) {
    cursor: wait;
}
.gamewrap.loading:before {
    opacity: 1;
}
.application.gbcolors .gamewrap:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: #2f351b;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 10%;
    /* display: none; */
    mix-blend-mode: color-burn;
}
.application.gbcolors canvas#game {
    filter: sepia(26%) saturate(80%) contrast(110%);
}
.debuginfo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    background: #111;
}
.debuginfo.hidden {
    display: none;
}
.debuginfo-group {
    padding: 16px;
}

/* GAMEBOY */
.gameboy {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 183%;
    height: 330%;
    background: #4c2f83;
    top: -31%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 28px;
    border: 8px solid #6e549f;
    box-shadow: #000 0 0 32px;
    display: flex;
    justify-content: center;
}

.gameboy-margin {
    background-color: #050505;
    width: 87%;
    aspect-ratio: 114/100;
    position: absolute;
    margin-top: 42px;
    border-radius: 28px 28px 64px 64px;
    box-shadow: inset #000 0 0 32px;
    overflow: hidden;
}

.gameboy-margin::before {
    content: '';
    background: white;
    width: 50%;
    height: 200%;
    left: 50%;
    transform: translateX(-100%);
    rotate: 45deg;
    position: absolute;
    box-shadow: #fff 0 0 46px 60px;
    opacity: 0.03;
}

/* EDITOR */
.editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    padding: 8px;
    --tilesize: calc(16px * 3);
}

.editor:not(.active) {
    display: none;
}

.editor .grid {
    position: absolute;
    width: calc(var(--tilesize) * 20);
    height: calc(var(--tilesize) * 16);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.editor .grid:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    width: calc(var(--tilesize) * 10);
    height: calc(var(--tilesize) * 8);
    outline: 2px solid #f00;
    outline-offset: -1px;
    z-index: 10;
}

.editor .tile {
    position: relative;
    display: block;
    width: var(--tilesize);
    height: var(--tilesize);
    background-color: #fff;
    background-image: var(--tile-sheet);
    background-size: calc(var(--tile-sheetwidth) * 3) calc(var(--tile-sheetheight) * 3);
    cursor: pointer;
    image-rendering: pixelated;
}

.editor .tile.empty {
    background-image: none
}

.editor .grid .tile {
    outline: 1px solid #0003;
}

.editor .grid .tile:hover {
    box-shadow: #000f 0 0 8px;
    outline: none;
}

.editor .tile:before {
    pointer-events: none;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: inset #fff 0 0 8px;
    opacity: 0;
}

.editor .tile:hover:before {
    opacity: 0;
}

.editor .tile:hover {
    z-index: 11;
}

.editor .pallet {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: calc(100vw / 2);
}

.editor .pallet:hover>.tile:not(:hover) {
    opacity: 0.4;
}

.editor .pallet .tile .variants {
    position: absolute;
    bottom: var(--tilesize);
    left: 50%;
    width: max-content;
    box-shadow: #000f 0 0 16px;
    padding: 4px;
    background: white;
    transform: translateX(-50%);
}

.editor .pallet .tile .variants .variants-wrap {
    max-width: calc(var(--tilesize) * 8);
    background-color: #aaa;
}

.editor .pallet .tile .variants .variants-wrap .variants-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.editor .pallet .tile:not(:hover) .variants {
    display: none;
}

.editor .variants:hover .tile:not(:hover) {
    opacity: 0.3;
}

.btn-edit {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

.editor .toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.editor .toolbar button:not(:last-child) {
    margin-right: 8px;
}

.editor .pallet .tile.tile-class-TileCliff .variants .variants-wrap {
    /* Variants for cliffs, extra wide 14*/
    max-width: calc(var(--tilesize) * 14);
}